{% extends 'base_interno.html' %}
<!--------------------Paso 4 froend----------------->

{% block titulo %}Registrar Producto{% endblock %} {% block contenido %}
<div class="container mt-4">
  <h2 class="mb-4">Registrar Producto</h2>

  <form method="POST" action="{% url 'crear_producto_form' %}">
    {% csrf_token %}

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre del Producto</label>
      <input type="text" class="form-control" name="nombre" required />
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción</label>
      <textarea class="form-control" name="descripcion" required></textarea>
    </div>

    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input
        type="number"
        class="form-control"
        name="precio"
        step="0.01"
        required
      />
    </div>

    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" class="form-control" name="stock" required />
    </div>

    <div class="mb-3">
      <label for="marca" class="form-label">Marca</label>
      <select class="form-select" name="marca" required>
        <option value="">Seleccione una marca</option>
        {% for marca in marcas %}
        <option value="{{ marca.id }}">{{ marca.nombre }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
    <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}
