{% extends 'base_interno.html' %}
<!--Pestaña-->
{% block titulo %}Detalle del Pedido{% endblock %}
<!--Barra lateral-->
{% block contenido %}
<div class="container mt-4">
  <div class="row">
    <h3>Detalle del Pedido N° {{ pedido.pedido_id }}</h3>
    <!-- Columna izquierda -->
    <div class="col">
      <p><strong>Cliente:</strong> {{ pedido.cliente.nombre }}</p>
      <p><strong>Fecha:</strong> {{ pedido.fecha }}</p>
      <p><strong>Tipo de Entrega:</strong> {{ pedido.tipo_entrega }}</p>
    </div>

    <!-- Columna derecha (alineada derecha) -->
    <div class="col text-end">
      <p><strong>Dólar usado:</strong> {{ pedido.valor_dolar_usado }}</p>
      <p><strong>Total en dólares:</strong> {{ pedido.total_usd }}</p>
    </div>
  </div>

  <table class="table table-bordered mt-4">
    <thead class="table-dark">
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for d in detalles %}
      <tr>
        <td>{{ d.producto.nombre_producto }}</td>
        <td>{{ d.cantidad }}</td>
        <td>${{ d.precio_unitario }}</td>
        <td>${{ d.total }}</td>
        </td>
      </tr>
      {% endfor %}
      <!-- Fila de Total -->
    <tr>
      <td colspan="3" style="text-align: right;"><strong>Total del pedido:</strong></td>
      <td><strong>${{ pedido.total }}</strong></td>
    </tr>
    </tbody>
  </table>

  <h4 class="mt-5">Historial de Estado</h4>

  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Tipo</th>
      </tr>
    </thead>
    <tbody>
      {% for h in historial %}
      <tr>
        <td>{{ h.estado }}</td>
        <td>{{ h.fecha }}</td>
        <td>{{ h.actor }}</td>
        <td>{{ h.actor_tipo}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4 class="mt-5">Actualizar Estado del Pedido</h4>

  <form
    method="POST"
    action="{% url 'actualizar_estado_pedido' pedido.pedido_id %}"
  >
    {% csrf_token %}
    <div class="mb-3">
      <label for="estado" class="form-label">Nuevo estado</label>
      <select name="estado_id" class="form-select" required>
        {% for estado in estados %}
        <option value="{{ estado.estado_id }}">
          {{ estado.nombre_estado }}
        </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-success">Actualizar Estado</button>
  </form>


  <div class="text-center mt-4">
    <a href="{% url 'sistema_bodega' %}" class="btn btn-secondary">⬅ Volver</a>
  </div>


</div>
{% endblock %}
