{% extends 'base_interno.html' %}
<!--------------------Pestañas----------------->

{% block titulo %}Editar Empleado{% endblock %} {% block contenido %}
<h2>Editar Empleado</h2>

<form
  method="POST"
  action="{% url 'editar_usuario' usuario.usuario_id %}"
  class="p-3"
>
  {% csrf_token %}
  <div class="mb-3">{{ form.as_p }}</div>
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a href="{% url 'lista_usuarios' %}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
