{% extends 'base_interno.html' %} {% load widget_tweaks %}
<!--Pestaña-->
{% block titulo %}Editar Producto{% endblock %} {% block contenido %}
<h2 class="mb-4">Editar Producto</h2>

<form method="POST" enctype="multipart/form-data" class="needs-validation">
  {% csrf_token %}
  <div class="mb-3">
    <label>Nombre producto:</label>
    {% render_field form.nombre_producto class="form-control" %}
  </div>

  <div class="mb-3">
    <label>Categoría:</label>
    {% render_field form.categoria class="form-select" %}
  </div>

  <div class="mb-3">
    <label>Marca:</label>
    {% render_field form.marca class="form-select" %}
  </div>

  <div class="mb-3">
    <label>Modelo:</label>
    {% render_field form.modelo class="form-control" %}
  </div>

  <div class="mb-3">
    <label>Precio:</label>
    {% render_field form.precio class="form-control" %}
  </div>

  <div class="mb-3">
    <label>Código SKU:</label>
    {% render_field form.codigo_sku class="form-control" %}
  </div>

  <div class="mb-3">
    <label>Imagen:</label>
    {% render_field form.imagen class="form-control" %}
  </div>

  <div class="form-check mb-4">
    {% render_field form.publicado class="form-check-input" %}
    <label class="form-check-label">Publicado</label>
  </div>

  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  <a href="{% url 'mostrar_productos' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
